@using iH.ViewModels

@model RegisterUserViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="well">
            @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.Label(Model.UserName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(u => u.Password)
                    @Html.TextBoxFor(u => u.Password, new { type = "password", @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.Password)
                </div>
                <div class="form-group">
                    @Html.LabelFor(u => u.ConfirmPassword, "Confirm Password")
                    @Html.TextBoxFor(u => u.ConfirmPassword, new { type = "password", @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.ConfirmPassword)
                </div>
                <input type="submit" value="Change" class="btn btn-primary" />
                <a href="\Security\User\List" class="btn btn-danger">Cancel</a>
            }
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>